name: Semgrep SAST Analysis

on:
  push:
    branches: [ "master", "main" ]

jobs:
  semgrep-security-scan:
    runs-on: ubuntu-latest
    steps:
 
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
  
      - name: Install Semgrep
        run: |
          python3 -m pip install semgrep
          semgrep --version

      - name: Run Semgrep Scan
        run: semgrep scan --config "p/owasp-top-ten"
